@import 'materialize';

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .nav-wrapper {
    background-color: #7d55c7;
  }

  #nav-mobile.a {
    border-top: 5px;
  }

  .page-footer {
    background-color: #464646;
  }
